@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,800;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containter {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    font-weight: lighter;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;

}

.header {
    /* background-color: gray; */
    display: flex;
    align-items: center;
    /* gap: 200px; */
    justify-content: space-around;
    height: 100px;
}

.logo {
    width: 135px;
    height: 33.75;

}

.logo img {
    color: #0a66c2;

}




.asset {
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;

}

.cont-box {
    display: flex;
    justify-content: space-between;

    gap: 50px;
}

.get {
    width: 100px;
    height: 50px;
    border-right: 1px solid black;
    text-align: center;

    border-left: 1px solid black;
}

.sign {
    width: 100px;

    border: 2px solid #0a66c2;
    padding: 12px 24px;
    background-color: white;
    border-radius: 50px;
    color: #000a66C2;
}

.contaner {
    /* max-width: 1180px; */
    /* margin-left: 120px; */
    /* font-family: 'Times New Roman', Times, serif */
    /* font-family: 'Poppins', sans-serif; */
    /* padding: 40px; */
    /* margin-top: 20px; */
}

.main-con {
    display: flex;
    /* align-items: center; */
    gap: 50px;
    /* margin-top: 100px; */
}

.image {
    width: 40%;


}

.sign_up {
    width: 60%;
    margin-top: 25px;
    /* font-family: ; */
}

.H1 {
    font-weight: lighter;
    font-size: 60px;
    color: #B24020;
    margin-bottom: 30px;

}

.Img {
    width: 620px;
    height: 500px;
    margin-top: 150px;
}

.form-control {
    width: 400px;
    height: 55px;
    border-radius: 7px;
    margin-top: 10px;
}

.acn {
    color: #0a66c2;
}

.btn {
    padding: 12px 24px;
    background-color: #0a66c2;
    color: #ffffff;
    margin-top: 30px;
    width: 408px;
    height: 48px;
    border-radius: 45px;
    font-weight: bolder;
    font-size: 16px;


}

.flex {
    display: flex;
}

.line-box {
    width: 408px;
    height: 61px;
    /* border: 2px solid red; */
}

.box1 {
    width: 180px;
    border-bottom: 1px solid black;
    /* padding: 16px 0 24px;\ */
    margin-bottom: 30px;
}

.box-2 {
    width: 48px;
    /* border: 1px solid; */
    text-align: center;
    padding: 16px;
}

.box3 {
    width: 180px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;

}

.google {
    margin-top: 20px;
    padding: 10px 24px;
    /* background-color: #0a66c2; */
    color: #ffffff;
    /* margin: px; */
    width: 360px;
    height: 40px;
    border-radius: 45px;
    /* font-weight: 200px; */
    color: black;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.811);
}

.googl {
    padding: 12px 24px;
    /* background-color: #0a66c2; */
    color: #ffffff;
    /* margin: px; */
    width: 408px;
    height: 48px;
    border-radius: 45px;
    font-weight: 200px;
    color: black;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;

}

/* Explore_box  */
.Margin-box {
    padding: 60px 0px;
    height: 402px;
}

.explore-box {
    width: 500px;
}



.H2 {
    width: 300px;
    height: 200px;

    font-size: 50px;
    /* font-weight: lighter; */
    color: #000000E6;
}

.para {
    width: 448px;
    height: 300px;
    margin-top: 20px;
}

.P1 {
    font-size: 21px;
}



.grid-box {
    width: 648px;
    margin-left: 60px;
    margin-top: 60px;
    height: 180px;
}

ul {
    list-style: none;
}

li {
    text-align: center;
}








element.style {}

.items-center {
    align-items: center;
}

.w-max {
    width: max-content;
}

.flex {
    display: flex;
}

.mr-\[6px\] {
    margin-right: 6px;
}

.mb-1\.5 {
    margin-bottom: 12px;
}

.float-left {
    float: left;
}

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:focus {
    box-shadow: 0 0 0 1px var(--color-button-container-secondary-border);
    background-color: var(--color-button-container-secondary);
    color: var(--color-button-label-secondary);
}

.btn-md,
.btn-md:visited,
.btn-md:focus {
    cursor: pointer;
    text-decoration-line: none;
}

.btn-md {
    height: min-content;
    min-height: 48px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    border: 1px solid black;
}

.Find-box {

    height: 466px;
    padding: 60px 0px;
}

.fint-text {
    width: 408px;
    height: 120px;
    font-size: 45px;
}

.grid-box1 {
    width: 648px;
    margin-left: 60px;
    /* margin-top: 60px; */
    height: 240px;
}

.grid-box1 p {
    margin-bottom: 20px;
    height: 20px;

}


.bg-col {
    background-color: rgba(126, 114, 53, 0.121);
    width: 100%;
    margin: 0;
    padding: 0;

}

.Post-box {
    padding: 70px 0px;
    height: 290px;
    align-items: center;
    /* background-color: #0a66c2; */
}

.Post-text {
    width: 412px;
    color: #B24020;
    margin: 0px 67px 0px 0px;
}

.Post-text h2 {
    font-size: 40px;
    font-weight: 400;
}

.box2 {
    height: 48px;
    width: 119.59px;
    padding: 12px 24px;
    margin: 0px 6px 12px 0px;
    color: #0a66c2;
    border: 1px solid #0a66c2;
    border-radius: 30px;

}

.text-col {
    color: #0a66c2;
    font-weight: 400;
}

.H3 {
    width: 408px;
    height: 120px;
    font-size: 50px;
    /* font-weight: lighter; */
    color: #000000E6;
}

.butn {

    border: 1px solid #0a66c2;
}

.te-co {
    color: #0a66c2;
}


.Let-box {
    height: 840px;
    padding: 60px 0px;
    align-items: center;
    justify-content: space-between;
}

.Let-the-right :nth-child(1) {

    width: 564px;
    height: 100px;
    font-size: 40px;
    color: #B24020;
    font-weight: 400;
}

.Let-the-right :nth-child(2) {

    width: 564.24px;
    height: 162.4px;
    font-size: 32px;
    /* color: #B24020; */
    font-weight: 200;
    margin: 8px 0px;
}

.ImG {
    width: 450px;
    height: 450px;
}


.doublepic {
    height: 788px;
    align-items: center;
    gap: 70px;

}



.doubl-cont-box {
    width: 556px;
    height: 548px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.doubl-cont-box img {
    width: 312px;
    height: 312px;
    margin: 0px 72px 16px 0px;
}

.doubl-cont-box p {
    width: 456px;
    height: 120px;
    font-size: 48px;
    font-weight: 100;
}

.find-p p {
    width: 208px;
    height: 48px;
    margin: 0px 6px 12px 0px;
    padding: 12px 24px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: 400;
}

.Bus-sol {
    width: 360px;
    height: 58px;
    font-size: 20px;
    padding: 16px 12px 16px 16px;

}

.linkdin-for-box{
    /* width: ; */
    height: 720px;
    /* gap: 200px; */
}

/* .background-color{
    width: 800px;
    height: 720px;
    background-color: rgba(250, 235, 215, 0.824);
} */

.Text-box{
    width: 568px;
    height: 426px;
    padding: 0px 60px 0 0;
    margin: 251px 0 42px;
}

.Img-box {
    width: 840px;
    height: 840px;
    /* padding-left: 150px; */
}
.Img-box img {
    width: 840px;
    height: 840px;
    position: relative;
    left: 100px
}

.wh-box{
    width: 512px;
    height: 50px;
    font-size: 40px;
    color: #B24020;
    font-weight: 300;
    margin-bottom: 8px;
}
.wh-box1{
    width: 512px;
    height: 100px;
    font-size: 40px;
    margin-bottom: 40px;
}

.wh-box2{
    width: 408px;
    height: 60px;
    padding: 16px;
    border: 1px solid #Eae6df;
    background-color: #Eae6df;
    font-size: 20px;
    margin-bottom: 16px;
}

.vedio-box{
    height: 840px;
    padding: 60px 0px;
    /* margin-top: 300px; */
    align-items: center;
    
}

.text-BOX {
    margin-top: 100px;
    

}
.text-BOX  .text-BOX1{
    font-size: 40px;
    color: #B24020;
    width: 516px;
    height: 50px;
    margin: 0px 0px 16px 48px;

}
.text-BOX  .text-BOX2{
    font-size: 40px;
    /* color: #B24020; */
    width: 516px;
    margin: 0px 0px 0px 48px;

}

footer{
    height: 840px;
    padding: 60px 0px;
}
footer div{
    height: 240px;
    padding: 60px 0px;
}

.footer-box1{
    height: 140px;
    margin: 48px 0px 16px;
    font-size: 56px;
}
/* .footer-box1{
    height: 140px;
    margin: 48px 0px 16px;
    /* font-size: 56px; */
    /* margin-top: 30px; */

/* } */ 
.footer-box2{
    width: 129.09px;
    height: 48px;
    padding: 12px 24px;
    background-color: #0a66c2;
    margin: 0px 6px 12px 0px;
    border-radius: 40px;
    border: 1px solid blue;

    
}

.sub-footer-box{
width: 100vw;    
height: 440px;
background-color: rgba(250, 235, 215, 0.721);

}

.sub-footer{
    height: 440px;
    padding: 24px 0px 22px;
    justify-content: space-around;
}

.bold-box1{
 
    font-weight: 500;
    margin: 0px 0px 8px;
    
}
.subb-footer{
    margin: 0px 195.6px;
    height: 50px;
    justify-content: space-between;
    margin-top: 9px;
}









